.header {
    height: 40px;
    background-color: pink;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
    
  .header-nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .header-option {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;
    color: #fff;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
  }
  
  .header-option1 {
    font-size: 8px;
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
  
    
  .search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .search > select {
    height: 22px;
    padding: 5px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px 0 0 2px;
  }
  
  .searchIcon {
    padding: 5px;
    height: 11px !important;
    background-color: #fcba03;
    font-size: 3.2rem !important;
    padding: 5px;
    border-radius: 0 5px 5px 0;
  }
  
  .searchInput {
    height: 1px;
    padding: 10px;
    border: none;
    width: 70%;
  }
  
  .searchInput :focus {
    border-color: lightsalmon;
  }
  
 